
@font-face {
    font-family: 'Noto sans';
    src: url(Noto_Sans)
}

img {
    max-width: 100%;
}
body {
    background-color: #8ED0D9;
    font-family: 'noto sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

.header_links {
    margin-inline: 16px;
    font-family: 'noto sans' sans-serif;
    flex-shrink: 1;
}
.header_button {
    flex-shrink: 1;
}

}
.header2_items {
    flex-shrink: 1;
}

.boufRight_logo2 {
    max-width: 30%;
}

.panier_logo2 {
    max-width: 15%;
}

.burger_menu_icon {
    max-width: 15%;
}

.img_panier {
    margin-left: 20px;
    margin-right: 20px;
    flex-shrink: 1;
    }

button {
    padding: 10px 45px;
    height: 45px;
    border-radius: 10px;
    background: #DB2540;
    color: white;
    border: none;
}
.button_small {
    padding: 10px 15px;
    height: 35px;
    border-radius: 10px;
    background: #DB2540;
    color: white;
    border: none;
}

.discover {
    margin-block: 40px;
}

h1 {
    font-size: 36px;
    letter-spacing: 0.15cm;
    font-family: 'Noto Sans', sans-serif;
}

.section_un {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(187, 221, 250);
}



.card {
    width: 316px;
    height: 412px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.discount_text {
    background-color: black;
    color: white;
    width: fit-content;
    position: relative;
    left: -110px;
    top: 20px;
}

.half_text {
        width: 100vw;
    }
.half_image {
        width: 100vw;
    }
.nav1 {
        display: none;
        margin-top: 40px;
    }

.h2 {
    font-size: 48pt;
    font-weight: 400;
    font-family: 'noto sans', sans-serif;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.h3 {
    font-size: 20pt;
    font-family: 'noto sans',sans-serif;
    margin-bottom: 15px;
}
.p_strikethrough {
    text-decoration: line-through;
    margin-right: 15px;
}
.p_underline {
    background-color: #d64c61;
}

.price_text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.more_info {
    font-size: 10pt;
    text-decoration: underline;
    margin-top: 15px;
}

.avis_container {
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 20px;

}

strong {
    font-weight: bold;
    font-size: larger;
}
.text_avis {
    width: 50vh;
}

.about {
    margin-top: 60px;
    flex-wrap: wrap;
}
.about_div {
    width: 100vw;
    background-color : white;
    text-align: center;
}

.about_title {
    margin-top: 40px;
    margin-bottom: 40px;
}
li {
    margin-block: 1.25rem;
}

.know_more {
    margin-block: 1.25rem;
}

.lets_go_button {
    margin-block: 1.875rem;
}
.about_image {
width: 100vw;
}

.avis_abonnes {
    margin-block: 2.5rem;
}

.txt_img_container {
    height: fit-content;
}

.customer_journey {
    width: 100vw;
    
}
.txt_img {
    position: relative;
    width: 30vw;
}
.txt_img1 {
    top: 35vw;
}
.txt_img2 {
    top: 12vw;
    left: 25vw;
}
.txt_img3 {
    top: 10vw;
    left: 70vw;
}
.txt_img4 {
    top: 38vw;
    left: 60vw;
}

footer {
    background-color: #272727;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.footer_titles {
    color: #F2DA02;
    margin-block: 20px;
    text-align: center;
    height: fit-content;
}
.footer_section_logos {
    display: flex;
    justify-content: center;
    margin-block: 1.25rem;
}
.container_logo_text {
    display:flex;
    flex-direction: column;
}
.logo {
    margin-inline: .9375rem;
}
.footer_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-inline: 2rem;
}
.footer_text {
    color: white;
    margin-block: 1.25rem;
}

.footer_line {
    height: 1px;
    width: 80vw;
    margin-inline: auto;
    margin-block: 2rem;
    background-color: white;
}   
.appdownload_img {
    width: min-content;
    margin-block: 1.25rem;
}

@media (min-width: 700px) {
    .footer_line {
        display: none;
    }
}

@media (min-width: 866px) {
    .half_text {
         width: 50vw;
    }
    .half_image {
         width: 50vw;
    }
    .about_div {
        width: 50vw;
    }
    .about_image {
        width: 50vw;
    }
}

@media (min-width: 900px) {
    .nav1 {
        display: contents;
    }
    .nav2 {
        display: none;
    }
}

@media (min-width: 460px) {
    h1 {
        font-size: 60px;
    }
}
