body {
    background-color: #8ED0D9;
}

header {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;


}

.header_links {
    margin-inline: 30px;
}

.img_panier {
    margin-right: 50px;
}

.header_button {
    padding: 10px 45px;
    width: 159px;
    height: 64px;
    border-radius: 10px;
    background: #DB2540;
}


